.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.header {
	padding: 10px;
	text-align: center;
}


.header h2{
	font-weight: bold;
}

.center {
	text-align: center;
}

nav {
	padding: 10px;
	text-align: center;
}

nav a {
	padding: 10px;
}


.btn-secondary {
	border: 1px solid #bab9af;
	background-color: #ffffff;
}

.btn-secondary a{
	color: #000000;
}

.btn-pad {
	padding: 10px 50px;
}

.btn-topspace {
	margin-top: 3em; 
	margin-bottom: 3em; 
}

.main-content {
	margin: 4em 0 0 0;
}

.box {
	background-color:#ffffff;
	-webkit-box-shadow: 7px 3px 5px -1px rgba(0,0,0,0.22);
	-moz-box-shadow: 7px 3px 5px -1px rgba(0,0,0,0.22);
	box-shadow: 7px 3px 5px -1px rgba(0,0,0,0.22);
	padding: 20px;
}

.box {
	margin: 0 0 8em 0;
}


.box h1 {
  padding: 0px;
  margin: 0 0 15px 0;
  font-size: 27px;
  font-weight: bold;
}


.box p {
  padding: 4px;
  margin: 5px 0 0 0;
}

.box a {
	color:#888777;
}

.main-content .content {
 position: absolute;
 margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
 top: 20em;
}

.certificate {
	background-image: url("https://virtuoso-bl.4thdown.co/images/certifate-bg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
    padding: 50px;
    padding-top: 67%;
}

.certificate h1{
	font-weight: bold;
}

.certificate p{
	font-size: 16px;
}

.certificate-time {
  margin-top: 20px;
}

.certificate-time .date {
  font-size: 20px;
}

.certified-signature {
  margin-top: 5px;
}

.certificate-badge {
	position: absolute;
	right: 24px;
    top: 60px;
}

.certify-user {
  margin-top: 50px;
}
/*
.certificate img{
	border-radius: 75px;
	-webkit-box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.75);
}
*/

 .product-logo img {
   margin-top: 20px;
   } 


.signature-line hr {
    width: 300px;
    border-color: #999;
    margin-top: 50px;
}

.product-manager-name {
  margin-top: 20px;
}

.trademark-copy {
  font-size: 10px;
  text-align: left;
}

.circle-spot {
	background-color: #ffffff;
    border-radius: 50%;
    height: 100px;
    right: 34px;
    position: absolute;
    top: -35px;
    width: 100px;
    -webkit-box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.42);
	box-shadow: 0px -6px 10px -4px rgba(0,0,0,0.42);
}

.circle-spot img {
  width: 100px;
  border-radius: 50%;
  height: 100px;

}

.circle-dir {
	background-color: #ffffff;
	border: none;
    border-radius: 50%;
    height: 80px;
    right: 34px;
    width: 80px;
}

.circle-dir:hover {
	-webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}


.video-content {
	text-align: center;
}


.video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.presentation-wrap {
	margin: auto;
	margin-top: 5em;
    max-width: 730px;
}


.presentation-slides {
	border: 5px solid #e5e5e5;
}

.presentation-slides img {
	width: 100%;
}

.side-nav {
	position: absolute;
	z-index: 2;
  top: 10em;
}

.left-arrow, .right-arrow {
	padding: 20px;
	margin: 18em 0 0 0;
	color: #9b9b9b;
  position: absolute;
}

.left-arrow {
   left: -100px;
}

.right-arrow {
   right: -100px;  
}


.assessment ul {
	padding:0;
}

.assessment ul li{
	list-style: none;
}

.assessment .checkbox {
	margin: 20px 0;
}

.assessment input {
	margin: 7px 0 0 0;
}

.assessment .checkbox label{
	font-size: 20px;
}

.assessment h1 {
	font-size: 20px;
	margin: 0 0 25px 0;
}

.assessment button {
	margin-top: 5em;
}

.incorrect h1 {
	margin-bottom: 1em;
}

.incorrect p {
	margin-bottom: 2em;
	font-size: 20px
}


/* Desktop Resize */
@media only screen 
  and (min-width: 995px) 
  and (max-width: 1199px) 
  {


.main-content .content {
    top: 10em;
    }

  .product-logo img {
   width: 300px;
   } 


 .certify-user {
  margin-top: 20px;
}  

  }




/* Mobile Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  {


.h2, h2 {
    font-size: 20px;
}
 .header {
    padding: 0;
} 	


.left-arrow {
    color: #9b9b9b;
    margin: 4em 0 0;
    padding: 20px;
     position: absolute;
    top: 0px;
}

.right-arrow {
    color: #9b9b9b;
    margin: 4em 0 0;
    padding: 20px;
     position: absolute;
    top: 0px;
    right: 16px;
}

 

  .presentation-slides {
  	margin-top: 9em;
  }

 .circle-dir {
    height: 40px;
    width: 40px;
} 

 .fa-5x {
    font-size: 2em;
} 

}



/* Mobile Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {


.h2, h2 {
    font-size: 20px;
}
 .header {
    padding: 0;
} 	


.left-arrow {
    color: #9b9b9b;
    margin: 4em 0 0;
    padding: 20px;
     position: absolute;
    top: 0px;
}

.right-arrow {
    color: #9b9b9b;
    margin: 4em 0 0;
    padding: 20px;
     position: absolute;
    top: 0px;
    right: 16px;
}

 

  .presentation-slides {
  	margin-top: 9em;
  }

 .circle-dir {
    height: 40px;
    width: 40px;
} 

 .fa-5x {
    font-size: 2em;
} 

}


